In [1]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

#### Split data into predictors and target

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [9]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [10]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [11]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [12]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

<a id='item32'></a>

In [15]:
import keras

In [16]:
from keras.models import Sequential # for linear stack of inputs
from keras.layers import Dense # for layers in network

In [17]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

## Train and Test the Network

In [18]:
# build the model
model = regression_model()

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [19]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 1s - loss: 1619.4943 - val_loss: 1102.1203
Epoch 2/100
 - 0s - loss: 1459.2209 - val_loss: 958.4179
Epoch 3/100
 - 0s - loss: 1215.4187 - val_loss: 756.6974
Epoch 4/100
 - 0s - loss: 879.0343 - val_loss: 522.5209
Epoch 5/100
 - 0s - loss: 545.7981 - val_loss: 332.0874
Epoch 6/100
 - 0s - loss: 327.2928 - val_loss: 240.5561
Epoch 7/100
 - 0s - loss: 254.7707 - val_loss: 204.7332
Epoch 8/100
 - 0s - loss: 230.7297 - val_loss: 191.3813
Epoch 9/100
 - 0s - loss: 216.7635 - val_loss: 185.6743
Epoch 10/100
 - 0s - loss: 205.1341 - val_loss: 184.5341
Epoch 11/100
 - 0s - loss: 196.3646 - val_loss: 181.1956
Epoch 12/100
 - 0s - loss: 189.3094 - val_loss: 174.3985
Epoch 13/100
 - 0s - loss: 183.4791 - val_loss: 173.1158
Epoch 14/100
 - 0s - loss: 178.8026 - val_loss: 170.9531
Epoch 15/100
 - 0s - loss: 173.6254 - val_loss: 170.0455
Epoch 16/100
 - 0s - loss: 170.3054 - val_loss: 164.5853
Epoch 17/100
 - 0s - loss: 166.2111 - val_loss: 165.8815
Epoch 18/100
 - 0s - loss: 162.5224 - val_loss: 163.0868
Epoch 19/100
 - 0s - loss: 159.3718 - val_loss: 162.6165
Epoch 20/100
 - 0s - loss: 156.8981 - val_loss: 157.7910
Epoch 21/100
 - 0s - loss: 153.9172 - val_loss: 158.7994
Epoch 22/100
 - 0s - loss: 151.6108 - val_loss: 157.4100
Epoch 23/100
 - 0s - loss: 149.3182 - val_loss: 158.9961
Epoch 24/100
 - 0s - loss: 147.0903 - val_loss: 157.2452
Epoch 25/100
 - 0s - loss: 144.8356 - val_loss: 157.0741
Epoch 26/100
 - 0s - loss: 142.8098 - val_loss: 158.6371
Epoch 27/100
 - 0s - loss: 140.9463 - val_loss: 155.9027
Epoch 28/100
 - 0s - loss: 139.6147 - val_loss: 159.4755
Epoch 29/100
 - 0s - loss: 137.4148 - val_loss: 156.4911
Epoch 30/100
 - 0s - loss: 135.6902 - val_loss: 158.6978
Epoch 31/100
 - 0s - loss: 133.5295 - val_loss: 156.9594
Epoch 32/100
 - 0s - loss: 131.4750 - val_loss: 158.7815
Epoch 33/100
 - 0s - loss: 130.2769 - val_loss: 157.2680
Epoch 34/100
 - 0s - loss: 127.5148 - val_loss: 162.1712
Epoch 35/100
 - 0s - loss: 125.8256 - val_loss: 155.2266
Epoch 36/100
 - 0s - loss: 124.3387 - val_loss: 161.3065
Epoch 37/100
 - 0s - loss: 122.4343 - val_loss: 157.5810
Epoch 38/100
 - 0s - loss: 120.1507 - val_loss: 159.9169
Epoch 39/100
 - 0s - loss: 117.8390 - val_loss: 161.6145
Epoch 40/100
 - 0s - loss: 115.3852 - val_loss: 159.2801
Epoch 41/100
 - 0s - loss: 113.1285 - val_loss: 164.9324
Epoch 42/100
 - 0s - loss: 110.9738 - val_loss: 157.5002
Epoch 43/100
 - 0s - loss: 107.4378 - val_loss: 161.2645
Epoch 44/100
 - 0s - loss: 103.9488 - val_loss: 158.6995
Epoch 45/100
 - 0s - loss: 101.1982 - val_loss: 160.1044
Epoch 46/100
 - 0s - loss: 97.7615 - val_loss: 158.3924
Epoch 47/100
 - 0s - loss: 94.6357 - val_loss: 160.1202
Epoch 48/100
 - 0s - loss: 90.9378 - val_loss: 159.6664
Epoch 49/100
 - 0s - loss: 87.7370 - val_loss: 157.0624
Epoch 50/100
 - 0s - loss: 84.5131 - val_loss: 161.3472
Epoch 51/100
 - 0s - loss: 81.6446 - val_loss: 157.9021
Epoch 52/100
 - 0s - loss: 78.3025 - val_loss: 157.7006
Epoch 53/100
 - 0s - loss: 75.2265 - val_loss: 162.3470
Epoch 54/100
 - 0s - loss: 72.5620 - val_loss: 154.5599
Epoch 55/100
 - 0s - loss: 70.1316 - val_loss: 160.9686
Epoch 56/100
 - 0s - loss: 67.8852 - val_loss: 151.7461
Epoch 57/100
 - 0s - loss: 65.0544 - val_loss: 157.3574
Epoch 58/100
 - 0s - loss: 62.6186 - val_loss: 152.0913
Epoch 59/100
 - 0s - loss: 61.1236 - val_loss: 153.7042
Epoch 60/100
 - 0s - loss: 58.8961 - val_loss: 146.8649
Epoch 61/100
 - 0s - loss: 57.9287 - val_loss: 153.9221
Epoch 62/100
 - 0s - loss: 55.6032 - val_loss: 147.4969
Epoch 63/100
 - 0s - loss: 53.8393 - val_loss: 157.8222
Epoch 64/100
 - 0s - loss: 52.1905 - val_loss: 150.0382
Epoch 65/100
 - 0s - loss: 51.3042 - val_loss: 149.2934
Epoch 66/100
 - 0s - loss: 49.3699 - val_loss: 146.8423
Epoch 67/100
 - 0s - loss: 48.2300 - val_loss: 145.7253
Epoch 68/100
 - 0s - loss: 46.9033 - val_loss: 145.7098
Epoch 69/100
 - 0s - loss: 45.8688 - val_loss: 145.4164
Epoch 70/100
 - 0s - loss: 44.7803 - val_loss: 137.9412
Epoch 71/100
 - 0s - loss: 44.0556 - val_loss: 143.2085
Epoch 72/100
 - 0s - loss: 42.9282 - val_loss: 140.9592
Epoch 73/100
 - 0s - loss: 42.3223 - val_loss: 139.8066
Epoch 74/100
 - 0s - loss: 41.6548 - val_loss: 141.7953
Epoch 75/100
 - 0s - loss: 41.3118 - val_loss: 137.0430
Epoch 76/100
 - 0s - loss: 40.2536 - val_loss: 142.9926
Epoch 77/100
 - 0s - loss: 39.4622 - val_loss: 135.4068
Epoch 78/100
 - 0s - loss: 39.4325 - val_loss: 135.5260
Epoch 79/100
 - 0s - loss: 38.8852 - val_loss: 130.9121
Epoch 80/100
 - 0s - loss: 37.9490 - val_loss: 134.2267
Epoch 81/100
 - 0s - loss: 38.0267 - val_loss: 136.0537
Epoch 82/100
 - 0s - loss: 38.0654 - val_loss: 136.1302
Epoch 83/100
 - 0s - loss: 36.5138 - val_loss: 130.2792
Epoch 84/100
 - 0s - loss: 35.9234 - val_loss: 127.0042
Epoch 85/100
 - 0s - loss: 35.9614 - val_loss: 131.1415
Epoch 86/100
 - 0s - loss: 35.3440 - val_loss: 121.8386
Epoch 87/100
 - 0s - loss: 34.8188 - val_loss: 130.6733
Epoch 88/100
 - 0s - loss: 34.8582 - val_loss: 126.1387
Epoch 89/100
 - 0s - loss: 34.2453 - val_loss: 118.2876
Epoch 90/100
 - 1s - loss: 34.3288 - val_loss: 121.0303
Epoch 91/100
 - 0s - loss: 33.9638 - val_loss: 126.7130
Epoch 92/100
 - 1s - loss: 32.9942 - val_loss: 114.2751
Epoch 93/100
 - 0s - loss: 34.2964 - val_loss: 108.8842
Epoch 94/100
 - 0s - loss: 33.7649 - val_loss: 117.9982
Epoch 95/100
 - 0s - loss: 33.3204 - val_loss: 118.8884
Epoch 96/100
 - 0s - loss: 32.2567 - val_loss: 124.3076
Epoch 97/100
 - 0s - loss: 32.0033 - val_loss: 121.5830
Epoch 98/100
 - 0s - loss: 31.8418 - val_loss: 116.3505
Epoch 99/100
 - 0s - loss: 31.2756 - val_loss: 121.4543
Epoch 100/100
 - 0s - loss: 31.3720 - val_loss: 114.3013

<strong>You can refer to this [link](https://keras.io/models/sequential/) to learn about other functions that you can use for prediction or evaluation.</strong>

Feel free to vary the following and note what impact each change has on the model's performance:

1. Increase or decreate number of neurons in hidden layers
2. Add more hidden layers
3. Increase number of epochs

### Thank you for completing this lab!

This notebook was created by [Alex Aklson](https://www.linkedin.com/in/aklson/). I hope you found this lab interesting and educational. Feel free to contact me if you have any questions!

This notebook is part of a course on **Coursera** called *Introduction to Deep Learning & Neural Networks with Keras*. If you accessed this notebook outside the course, you can take this course online by clicking [here](https://cocl.us/DL0101EN_Coursera_Week3_LAB1).

<hr>

Copyright &copy; 2019 [IBM Developer Skills Network](https://cognitiveclass.ai/?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).